<P> <img src="https://i.ibb.co/gyNf19D/nhslogo.png" alt="nhslogo" border="0" width="100" align="right"><font size="6"><b> CS6131 Database Design</b> </font>

# Project Final Report Submission

### By Yap Yuan Xi

### Submission Instructions

<div class="alert alert-block alert-info">

* You will need to submit the following files in your final project submission:
    * Your Jupyter Notebook report. Name the report `ProjectFinalReport<YourName>.ipynb`.
    * All relevant image files to be displayed in this report (make sure you use relative file referencing and the image will display in another computer).
    * Attached each file one by one and upload on Coursemology.
* Please print a copy of the final report to OneNote Individual Notebook space > Project. Double check on the image resolution. If the resolution is poor, please copy and paste the ORIGINAL clear image into the OneNote page (paste at the side of the printed image).

* Any submission that fails to comply to the above instructions will result in upto 5% penalty.

* You may wish to refer to the following reference to help organize and "beautify" your final report here. <br>
https://thecodingbot.com/markdown-in-jupyter-ipython-notebook-cheatsheet/
</div>

### Section A: Overview & Business Rules

#### Overview

<div class="alert alert-block alert-warning">
Complete your writeup of the project overview here.
</div>

Chess has been gaining popularity since the start of the pandemic. With the game of chess becoming more mainstream, someone needs to provide the service of playing chess online. A chess website is one of the ways of providing such services, with several purposes such as:
- **Online play**: Chess websites provide an easy and convenient way for people to play chess against other players from around the world.
- **Learning and Improvement**: Chess websites offer resources such as puzzles, and tactics trainers to help users improve their skills.
- **Community**: Chess websites provide a community for chess players to interact and connect with others who share their interest in the game.
- **Competition**: Chess websites offer organized tournaments and events for players to compete against each other and test their skills.
- **Accessibility**: Chess websites make the game of chess accessible to people who may not have easy access to physical chess sets or opponents.

When making a chess website with the above purposes, there is a lot of data to store. Tournament information, Player information, Player history, Played Games, Puzzles, Tactics. These are all data that the website must handle. All these information are related to one another, like which players are playing a chess game and which players are participating in the tournament. With a Relational DataBase Management System (RDBMS), the data and all its relationships can be maintained and managed easily and efficiently, allowing for a smooth experience when playing chess online.

#### Business Rules

<div class="alert alert-block alert-warning">
Complete your writeup of the final business rules here.
</div>

A **Player** has a unique ***username***,  with some **rating history** and some **puzzle history**. <br/>
Each **rating history** or **puzzle history** consists of a certain unique ***datetime*** and an elo ***rating***. ***rating*** is derived from the rated games played by the **Player**.<br/>
Additionally, each player has a ***email***, ***birthday***, ***country*** and ***password*** for login purposes<br/>

**Game**s are *played* by 2 **Players**. The 2 **Player**s will *play* as white or black. The **Game** has a unique ***game_id***, ***time control***, ***datetime*** of when it is played, ***pgn*** that is a string representing the game, is either ***rated*** or not, and is either ***public*** or not.
***time control*** is made up of ***initial time*** and ***increment*** per move. <br/>

A **Team** has a unique ***name***, ***creation date***. **Players** can *belong to* at most 1 **Team**. <br/>
On joining, the ***join date*** of the **Player**s are recorded.
**Team**s are moderated by some **Player**s in the **Team**, and their ***start date*** is recorded. <br/>
A **Team** must have at least 1 **Player** moderating and the creator is automatically a moderator of the team. <br/> 
If there are no moderators, the oldest **Player** will become a moderator. <br/>
If a **Team** has no **Player**s, then the **Team** is deleted.


A **Player** can create an **Application**, containing a short ***message*** and an ***id*** unique for each player. <br/>
The **Application** is to join an existing **Team**. <br/>
Only a **Team**'s moderator can approve the application.

Each **Tournament** hosted will have a unique ***id***, ***name***, ***start datetime***, ***end datetime***, ***time control***, whether it ***is rated***  and whether it **is public**. <br/>
**Tournament**s can *consists* of **Game**s, and may be hosted by one **Team**. <br/>
A **Player** can *participate* in **Tournament**s, and will play **Game**s in the **Tournament**. <br/>
When **Player**s *participate*, their results, made up of their ***ranking***, raw ***score*** and ***performace***, will be saved. <br/>
**Tournament**s which are not ***public*** must be hosted by a **Team** and only **Player**s in the **Team** can *participate* in it. <br/> 

**Puzzle**s can be *attempted* by **Player**, and the **Player** ***is either correct*** or not, taking some ***time***.
***time*** is a factor in the rating change of the player. <br/>
For each *attempt*, ***attempt datetime*** is also recorded. </br>
**Puzzle**s has a unique ***id***, ***rating***, ***movelist*** of puzzle solution, ***fen*** of position and ***solve count***, which is derived from the number of correct attempts. <br/>

### Section B: ER Model

<div class="alert alert-block alert-warning">
Attached the image of your FINAL ER Model here.
</div>

Double click here to insert image. Any further changes from previous deliverables should be highlighted in yellow.
<img src="er.jpg">

### Section C: Relational Model

<div class="alert alert-block alert-warning">
Attached the image of your FINAL Relational Model here.
</div>

Double click here to insert image. Any further changes from previous deliverables should be highlighted in yellow.
<img src="er.jpg">

<div class="alert alert-block alert-warning">
Justify your mapping strategy from ER to relational, particularly if the approach deviates from the norm, or you have inheritance in your ER model (i.e. which strategy is adopted for inheritance mapping and why).
</div>

Relationship Mapping:
- one-to-many: Following the norm, we will store the foreign key in the entity with cardinality many. This reduces number of tables, and the number of joins when performing a query. <br/>
  The relationships are in this category are:
  - `Creates`
  - `Approves`
  - `Apply_to`
  - `Hosts`
  - `Part_of`
  - `has_R`
  - `has_P`

<br/>

- many-to-many: Following the norm, we will store the relationship in a new table. This is the only way to adequately represent the relationship. <br/>
  The relationship is in this category are:
  - `Attempts`
  - `Participates`

<br/>

- one-to-one: There are 2 one-to-one relationships, `Plays_White` and `Plays_Black`. Following the norm, we will store the relationship in Game, which participates fully in the relationship.

<br/>


- `Moderates` and `Belong_to`: There is a special condition for this relationship, it is that the **Team** the **Player** has the relationship with is the same for both `Moderates` and `Belong_to`. <br/>
  Thus, we can combine the foreign key into ***team_name***. To determine which relationship is formed (or both), we look at the attributes ***mod_start_date*** for `Moderates` and ***join_date*** for `Belong_to`. <br/>
  If they are non-null, then the relationship exists. <br/>
  This reduces the number of entries we need to encapsulate both relationships.

<div class="alert alert-block alert-warning">
If the relational schema mapped from the ER is not in 3NF, propose relevant normalization to make all relations in 3NF. You may leave this part blank if no further normalization is required.
</div>

Proposed normalization, if any

### Section D: DDL Schema

<div class="alert alert-block alert-warning">
Fill in the relevant code required to create the relations from your database. <br>
Your code should be end to end (i.e. I should be able to execute on my computer without much problem).
</div>

In [376]:
# Added Teams.about_team
# Added Teams.team_id
# Added Teams.icon
# Added Teams.member_count (derived)
# Added Player.about_me
# Added Player.avatar
# Added Player.join_date (different from team_join_date)
# Deleted Player.country

In [377]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [378]:
%sql mysql+pymysql://root:admin@localhost/  --make sure user is root and password is admin

In [379]:
%%sql
DROP DATABASE IF EXISTS CHESSIBLE;
CREATE DATABASE CHESSIBLE;
USE CHESSIBLE;

CREATE TABLE Teams (
    team_id       INT AUTO_INCREMENT,
    team_name     VARCHAR(40),
    creation_date DATE,
    about_team    TEXT,
    icon          BLOB,
    member_count  INT DEFAULT 0,

    PRIMARY KEY(team_id), 
    UNIQUE(team_name)
);

CREATE TABLE Players (
    username        VARCHAR(40),
    password        VARCHAR(120),
    birthday        DATE,
    email           VARCHAR(300),
    create_date     DATETIME,
    team_id         INT,
    mod_start_date  DATETIME,
    join_date       DATETIME,
    about_me        TEXT,
    avatar          BLOB,

    PRIMARY KEY(username),
    FOREIGN KEY(team_id) REFERENCES Teams(team_id) ON UPDATE cascade ON DELETE cascade
);

CREATE TABLE Puzzles (
    puzzle_id   INT AUTO_INCREMENT,
    movelist    VARCHAR(90),
    fen         VARCHAR(90),
    rating      INT,
    solve_count INT,

    PRIMARY KEY(puzzle_id)
);

CREATE TABLE Tournaments (
    tournament_id   INT AUTO_INCREMENT,
    tournament_name VARCHAR(40),
    is_rated        BIT,
    is_public       BIT,
    start_datetime  DATETIME,
    end_datetime    DATETIME,
    initial_limit   INT,
    increment       INT,
    host_team_id    INT,

    PRIMARY KEY(tournament_id),
    UNIQUE(tournament_name),
    FOREIGN KEY(host_team_id) REFERENCES Teams(team_id) ON UPDATE cascade ON DELETE cascade
);

CREATE TABLE Applications (
    id              INT AUTO_INCREMENT,
    message         TEXT,
    creator_name    VARCHAR(40),
    approver_name   VARCHAR(40),
    team_id         INT,

    PRIMARY KEY(id, creator_name),
    UNIQUE (creator_name, team_id),
    FOREIGN KEY(creator_name)  REFERENCES Players(username),
    FOREIGN KEY(approver_name) REFERENCES Players(username),
    FOREIGN KEY(team_id) REFERENCES Teams(team_id) ON UPDATE cascade ON DELETE cascade
);

CREATE TABLE Games (
    game_id       INT AUTO_INCREMENT,
    pgn           VARCHAR(2000),
    is_public     BIT,
    is_rated      BIT,
    initial_limit INT,
    increment     INT,
    datetime      DATETIME,
    white_name    VARCHAR(40),
    black_name    VARCHAR(40),
    tournament_id INT,

    PRIMARY KEY(game_id),
    FOREIGN KEY(white_name)    REFERENCES Players(username),
    FOREIGN KEY(black_name)    REFERENCES Players(username),
    FOREIGN KEY(tournament_id) REFERENCES Tournaments(tournament_id)
);

CREATE TABLE Participates (
    tournament_id  INT,
    player_name    VARCHAR(40),
    ranking        INT,
    score          INT,
    performance    INT,

    FOREIGN KEY(tournament_id) REFERENCES Tournaments(tournament_id),
    FOREIGN KEY(player_name) REFERENCES Players(username)
);

CREATE TABLE Attempts (
    puzzle_id        INT,
    player_name      VARCHAR(40),
    is_correct       BIT,
    time_taken       INT,
    attempt_datetime DATETIME,

    FOREIGN KEY(puzzle_id) REFERENCES Puzzles(puzzle_id),
    FOREIGN KEY(player_name) REFERENCES Players(username)
);


CREATE TABLE Puzzle_History (
    username VARCHAR(40),
    datetime DATETIME,
    rating   INT,

    PRIMARY KEY(username, datetime),
    FOREIGN KEY(username) REFERENCES Players(username)
);

CREATE TABLE Rating_History (
    username VARCHAR(40),
    datetime DATETIME,
    rating   INT,

    PRIMARY KEY(username, datetime),
    FOREIGN KEY(username) REFERENCES Players(username)
);

 * mysql+pymysql://root:***@localhost/
10 rows affected.
1 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

### Section $\delta$: Triggers
I am putting triggers here, so that my data population is easier.

#### ELO update trigger
When a game is uploaded and is rated, we need to calculate the new rating for each person. <br/>
The details for the formula can be found on [wikipedia](https://en.wikipedia.org/wiki/Elo_rating_system#Theory). <br/>
We use $k=32$ as it is common practice, ensuring some significant penalty but not drastic decrements in their rating.

In [380]:
%%sql
DROP TRIGGER IF EXISTS update_elo;
DROP TRIGGER IF EXISTS update_elo_puzzle;

CREATE TRIGGER update_elo AFTER INSERT ON Games
FOR EACH ROW
BEGIN
    DECLARE white_rating INT;
    DECLARE black_rating INT;
    DECLARE white_expected FLOAT;
    DECLARE black_expected FLOAT;
    DECLARE white_new_rating FLOAT;
    DECLARE black_new_rating FLOAT;

    -- get the ratings of the players
    SELECT rating INTO white_rating FROM Rating_History WHERE username = NEW.white_name ORDER BY datetime DESC LIMIT 1;
    SELECT rating INTO black_rating FROM Rating_History WHERE username = NEW.black_name ORDER BY datetime DESC LIMIT 1;

    -- calculate the expected scores
    SET white_expected = 1 / (1 + POWER(10, (black_rating - white_rating) / 400));
    SET black_expected = 1 / (1 + POWER(10, (white_rating - black_rating) / 400));

    -- calculate the new ratings
    IF NEW.pgn LIKE "%1-0" THEN
        SET white_new_rating = white_rating + 32 * (1 - white_expected);
        SET black_new_rating = black_rating + 32 * (0 - black_expected);
    ELSEIF NEW.pgn LIKE "%0-1" THEN
        SET white_new_rating = white_rating + 32 * (0 - white_expected);
        SET black_new_rating = black_rating + 32 * (1 - black_expected);
    ELSE
        SET white_new_rating = white_rating + 32 * (0.5 - white_expected);
        SET black_new_rating = black_rating + 32 * (0.5 - black_expected);
    END IF;

    -- insert the new ratings into the Rating_History table
    IF NEW.is_rated THEN
        INSERT INTO Rating_History (username, rating, datetime) VALUES (NEW.white_name, ROUND(white_new_rating), NEW.datetime);
        INSERT INTO Rating_History (username, rating, datetime) VALUES (NEW.black_name, ROUND(black_new_rating), NEW.datetime);
    END IF;
END ;

CREATE TRIGGER update_elo_puzzle AFTER INSERT ON Attempts
FOR EACH ROW
BEGIN
    DECLARE player_rating INT;
    DECLARE puzzle_rating INT;
    DECLARE player_expected FLOAT;
    DECLARE puzzle_expected FLOAT;
    DECLARE player_new_rating FLOAT;
    DECLARE puzzle_new_rating FLOAT;

    -- get the ratings of the player and puzzle
    SELECT rating INTO player_rating FROM Puzzle_History WHERE username = NEW.player_name ORDER BY datetime DESC LIMIT 1;
    SELECT rating INTO puzzle_rating FROM Puzzles WHERE puzzle_id = NEW.puzzle_id;

    -- calculate the expected score (treated as elo match between puzzle and player)
    SET player_expected = 1 / (1 + POWER(10, (puzzle_rating - player_rating) / 400));

    -- calculate the new ratings
    IF NEW.is_correct THEN
        SET player_new_rating = player_rating + 32 * (1 - player_expected);
    ELSE
        SET player_new_rating = player_rating + 32 * (0 - player_expected);
    END IF;

    -- insert the new ratings into the Rating_History table
    INSERT INTO Puzzle_History (username, rating, datetime) VALUES (NEW.player_name, ROUND(player_new_rating), NEW.attempt_datetime);
END ;

 * mysql+pymysql://root:***@localhost/
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

#### Member Count update trigger
When a player leaves a team/joins a team, the member count of the team must be updated.

In [381]:
%%sql
DROP TRIGGER IF EXISTS update_member_count_insert;
DROP TRIGGER IF EXISTS update_member_count_update;
DROP TRIGGER IF EXISTS update_member_count_delete;

CREATE TRIGGER update_member_count_insert AFTER INSERT ON Players
    FOR EACH ROW
    BEGIN
        IF NEW.team_id IS NOT NULL THEN 
            UPDATE Teams 
            SET member_count = (
                SELECT COUNT(*) 
                FROM Players
                WHERE team_id = NEW.team_id
            ) 
            WHERE team_id = NEW.team_id;
        END IF;
    END;

CREATE TRIGGER update_member_count_update AFTER UPDATE ON Players
    FOR EACH ROW
    BEGIN
        IF NEW.team_id IS NOT NULL THEN
            UPDATE Teams 
            SET member_count = (
                SELECT COUNT(*) 
                FROM Players
                WHERE team_id = NEW.team_id
            ) 
            WHERE team_id = NEW.team_id;
        END IF;

        IF OLD.team_id IS NOT NULL THEN
            UPDATE Teams 
            SET member_count = (
                SELECT COUNT(*) 
                FROM Players
                WHERE team_id = OLD.team_id
            )  
            WHERE team_id = OLD.team_id;
        END IF;
    END;
    
CREATE TRIGGER update_member_count_delete AFTER DELETE ON Players
    FOR EACH ROW
    BEGIN
        IF OLD.team_id IS NOT NULL THEN
            UPDATE Teams 
            SET member_count = (
                SELECT COUNT(*) 
                FROM Players
                WHERE team_id = OLD.team_id
            )  
            WHERE team_id = OLD.team_id;
        END IF;
    END;

 * mysql+pymysql://root:***@localhost/
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

#### Player Team update trigger
When an application is approved, automatically update the player's team status <br/>

In [382]:
%%sql
DROP TRIGGER IF EXISTS team_status_insert;
DROP TRIGGER IF EXISTS team_status_update;

CREATE TRIGGER team_status_insert BEFORE INSERT ON Applications
    FOR EACH ROW
tr: BEGIN
        -- Application not approved, cannot update user
        IF NEW.approver_name IS NULL THEN 
            LEAVE tr;
        END IF;
        
        -- Check if approver is actually moderator
        IF (SELECT COUNT(*) FROM Players WHERE username = NEW.approver_name AND NEW.team_id = team_id AND mod_start_date IS NOT NULL) <> 1 THEN
            SET NEW.approver_name = NULL;
            LEAVE tr;
        END IF;

        -- Ok finally time to update this
        UPDATE Players 
        SET team_id = NEW.team_id, join_date = NOW(), mod_start_date = NULL
        WHERE username = NEW.creator_name;
    END;

CREATE TRIGGER team_status_update BEFORE UPDATE ON Applications
    FOR EACH ROW
tr: BEGIN
        -- Application not approved, cannot update user
        IF NEW.approver_name IS NULL THEN 
            LEAVE tr;
        END IF;
        
        -- Check if approver is actually moderator
        IF (SELECT COUNT(*) FROM Players WHERE username = NEW.approver_name AND NEW.team_id = team_id AND mod_start_date IS NOT NULL) <> 1 THEN
            SET NEW.approver_name = NULL;
            LEAVE tr;
        END IF;

        -- Ok finally time to update this
        UPDATE Players 
        SET team_id = NEW.team_id, join_date = NOW(), mod_start_date = NULL
        WHERE username = NEW.creator_name;
    END;

 * mysql+pymysql://root:***@localhost/
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

#### Player Initial Rating trigger
When a player registers a new account, the rating history must initalise with 1200 rating points for each type

In [383]:
%%sql
DROP TRIGGER IF EXISTS player_join_date_init;
DROP TRIGGER IF EXISTS player_rating_init;
DROP TRIGGER IF EXISTS player_puzzle_init;

CREATE TRIGGER player_join_date_init BEFORE INSERT ON Players
    FOR EACH ROW
    BEGIN
        IF NEW.create_date IS NULL THEN
            SET NEW.create_date = NOW();
        END IF;
    END;

CREATE TRIGGER player_rating_init AFTER INSERT ON Players
    FOR EACH ROW
    BEGIN
        INSERT INTO Rating_History VALUES
            (NEW.username, NEW.create_date, 1200);
        INSERT INTO Puzzle_History VALUES
            (NEW.username, NEW.create_date, 1200);
    END;

 * mysql+pymysql://root:***@localhost/
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

### Section E: Data Population Script

<div class="alert alert-block alert-warning">
Fill in relevant code to populate data into your database. It is sufficient to have 20-50 records per table (some may have more, some less). They should be logically related and realistic. Please do not overpopulate data.
    
Note that you should use INSERT commands. If you are are using other means to populate your database, please ensure I can run the scripts easily. 
</div>

In [384]:
%%sql
INSERT INTO Teams (team_name, creation_date, about_team) VALUES
    ('NUSH Black Knights', '2022-02-15', 'The real dark horses of NUS High!'),
    ('Pawn Stars', '2022-01-05', 'We are a group of beginners who are passionate about chess and want to improve our skills together.'),
    ('Team Alpha', '2022-01-01', 'We are a group of chess enthusiasts who love playing the game and improving our skills.'),
    ('The Bishops', '2022-02-01', 'We are a team of players who focus on developing creative and unorthodox strategies in the game.'),
    ('The Kings', '2022-03-01', 'We are a team of players who are determined to dominate the game and be the undisputed champions.'),
    ('The Chess Masters', '2022-01-15', 'We are a team of highly skilled and experienced players who are constantly pushing the boundaries of the game.'),
    ('The Chessaholics', '2022-03-01', 'We are a team of players who are addicted to the game and can never get enough of it.'),
    ('The Chess Wizards', '2022-01-25', 'We are a team of players who believe in the magic of the game and enjoy exploring its infinite possibilities.'),
    ('The Black and Whites', '2022-02-05', 'We are a team of players who believe in the power of simplicity and efficiency in the game.'),
    ('The Checkmates', '2022-01-10', 'We are a team of players who enjoy the thrill of checkmating our opponents and ending the game in style.'),
    ('The Rooks', '2022-02-20', 'We are a team of competitive players who aim to be the best in the game.'),
    ('The Rook-ies', '2022-02-25', 'We are a team of beginners who are eager to learn and improve our skills in the game.'),
    ('The Knights of Chess', '2022-02-10', 'We are a team of players who aim to be versatile and adaptable in the game, capable of handling any situation.'),
    ('Chess Wizards', '2022-03-05', 'We are a group of experienced players who enjoy sharing our knowledge and skills with others.'),
    ('The Knights Templar', '2022-03-15', 'We are a team of players who are committed to playing the game with honor and integrity.'),
    ('The Grandmasters', '2021-12-01', 'We are a team of highly skilled players who have achieved the highest level of proficiency in the game.'),
    ('The Chess Titans', '2022-01-20', 'We are a team of players who aspire to be the best in the game and are constantly pushing ourselves to improve.'),
    ('Queen\'s Gambits', '2022-03-10', 'We are a group of female chess players who support and encourage each other in our pursuit of the game.'),
    ('The Queens', '2022-02-05', 'We are a team of female players who are passionate about chess and want to inspire more women to join the game.'),
    ('Knight Movers', '2021-12-15', 'We are a team of experienced players who enjoy challenging each other and learning new strategies.');

 * mysql+pymysql://root:***@localhost/
20 rows affected.

[]

In [385]:
%%sql
INSERT INTO Players(username, password, birthday, email, team_id, mod_start_date, join_date, about_me, create_date) VALUES 
    ("ethantan2509", "pbkdf2:sha256:260000$8QLpI0htlIEWohuQ$55a50ce1a38d45f282f50b7612e672c24d038e7d865a6f675a2d4f5a68ea0fe2", "2009-06-28", "ethantan@gmail.com", NULL, NULL, NULL, "I love Chess", "2016-01-01 00:00:00"),
    ("KH-Brawl", "pbkdf2:sha256:260000$8QLpI0htlIEWohuQ$55a50ce1a38d45f282f50b7612e672c24d038e7d865a6f675a2d4f5a68ea0fe2", "2009-01-07", "KHBrawl@gmail.com", NULL, NULL, NULL, "I love Chess", "2016-01-01 00:00:00"),
    ("hnngggrrrr", "pbkdf2:sha256:260000$8QLpI0htlIEWohuQ$55a50ce1a38d45f282f50b7612e672c24d038e7d865a6f675a2d4f5a68ea0fe2", "2009-07-18", "hnngggrrrr@gmail.com", 1, "2022-12-31", "2019-01-01", "I love Chess", "2016-01-01 00:00:00"),
    ("zachary_song", "pbkdf2:sha256:260000$8QLpI0htlIEWohuQ$55a50ce1a38d45f282f50b7612e672c24d038e7d865a6f675a2d4f5a68ea0fe2", "2009-03-17", "zachary_song@gmail.com", NULL, NULL, NULL, "I love Chess", "2016-01-01 00:00:00"),
    ("drewmtr", "pbkdf2:sha256:260000$8QLpI0htlIEWohuQ$55a50ce1a38d45f282f50b7612e672c24d038e7d865a6f675a2d4f5a68ea0fe2", "2009-03-11", "drewmtr@gmail.com", 5, "2022-12-31", "2019-01-01", "I love Chess", "2016-01-01 00:00:00"),
    ("oxidyZe", "pbkdf2:sha256:260000$8QLpI0htlIEWohuQ$55a50ce1a38d45f282f50b7612e672c24d038e7d865a6f675a2d4f5a68ea0fe2", "2009-02-13", "oxidyZe@gmail.com", 5, NULL, "2019-01-01", "I love Chess", "2016-01-01 00:00:00"),
    ("Passwordcringe", "pbkdf2:sha256:260000$8QLpI0htlIEWohuQ$55a50ce1a38d45f282f50b7612e672c24d038e7d865a6f675a2d4f5a68ea0fe2", "2009-04-27", "passwordCringe@gmail.com", 2, "2018-06-25", "2017-01-01", "I love Chess", "2016-01-01 00:00:00"),
    ("coolingTundra", "pbkdf2:sha256:260000$8QLpI0htlIEWohuQ$55a50ce1a38d45f282f50b7612e672c24d038e7d865a6f675a2d4f5a68ea0fe2", "2009-09-07", "coolingTundra@gmail.com", 2, NULL, "2018-01-01", "I love Chess", "2016-01-01 00:00:00"),
    ("zetaNegativeOne", "pbkdf2:sha256:260000$8QLpI0htlIEWohuQ$55a50ce1a38d45f282f50b7612e672c24d038e7d865a6f675a2d4f5a68ea0fe2", "2009-09-26", "zetaneg1@gmail.com", 2, NULL, "2021-01-01", "I love Chess", "2016-01-01 00:00:00"),
    ("LoverKent", "pbkdf2:sha256:260000$8QLpI0htlIEWohuQ$55a50ce1a38d45f282f50b7612e672c24d038e7d865a6f675a2d4f5a68ea0fe2", "2009-05-24", "loverkent@gmail.com", 3, "2022-12-31", "2018-01-01", "I love Chess", "2016-01-01 00:00:00"),
    ("meower37", "pbkdf2:sha256:260000$8QLpI0htlIEWohuQ$55a50ce1a38d45f282f50b7612e672c24d038e7d865a6f675a2d4f5a68ea0fe2", "2009-05-18", "catmeow@gmail.com", 3, NULL, "2023-01-01", "I love Chess", "2016-01-01 00:00:00"),
    ("Haloen", "pbkdf2:sha256:260000$8QLpI0htlIEWohuQ$55a50ce1a38d45f282f50b7612e672c24d038e7d865a6f675a2d4f5a68ea0fe2", "2009-01-05", "Halogen@gmail.com", 4, "2021-12-31", "2020-01-01", "I love Chess", "2016-01-01 00:00:00"),
    ("DillyWeed", "pbkdf2:sha256:260000$8QLpI0htlIEWohuQ$55a50ce1a38d45f282f50b7612e672c24d038e7d865a6f675a2d4f5a68ea0fe2", "2009-01-08", "dillyweed@gmail.com", 4, "2023-01-01", "2017-01-01", "I love Chess", "2016-01-01 00:00:00"),
    ("PICKLEPICKLEPICKLE", "pbkdf2:sha256:260000$8QLpI0htlIEWohuQ$55a50ce1a38d45f282f50b7612e672c24d038e7d865a6f675a2d4f5a68ea0fe2", "2009-01-13", "pickle@gmail.com", 4, NULL, "2019-01-01", "I love Chess", "2016-01-01 00:00:00"),
    ("jsck413", "pbkdf2:sha256:260000$8QLpI0htlIEWohuQ$55a50ce1a38d45f282f50b7612e672c24d038e7d865a6f675a2d4f5a68ea0fe2", "2009-01-19", "jsck413@gmail.com", 4, NULL, "2020-01-01", "I love Chess", "2016-01-01 00:00:00"),
    ("WisdomGuy", "pbkdf2:sha256:260000$8QLpI0htlIEWohuQ$55a50ce1a38d45f282f50b7612e672c24d038e7d865a6f675a2d4f5a68ea0fe2", "2009-11-13", "wisdomguy@gmail.com", 4, NULL, "2022-01-01", "I love Chess", "2016-01-01 00:00:00"),
    ("jane_doe", "pbkdf2:sha256:260000$8QLpI0htlIEWohuQ$55a50ce1a38d45f282f50b7612e672c24d038e7d865a6f675a2d4f5a68ea0fe2", "1992-02-14", "janedoe@example.com", 1, "2021-01-01", "2021-01-03", "Chess is my passion!", "2016-01-01 00:00:00"),
    ("jim_smith", "pbkdf2:sha256:260000$8QLpI0htlIEWohuQ$55a50ce1a38d45f282f50b7612e672c24d038e7d865a6f675a2d4f5a68ea0fe2", "1985-09-23", "jimsmith@example.com", 2, NULL, "2021-01-04", "Looking for like-minded players!", "2016-01-01 00:00:00"),
    ("jessica_brown", "pbkdf2:sha256:260000$8QLpI0htlIEWohuQ$55a50ce1a38d45f282f50b7612e672c24d038e7d865a6f675a2d4f5a68ea0fe2", "1995-12-07", "jessicabrown@example.com", 2, "2021-01-01", "2021-01-05", "Let\'s play some chess!", "2016-01-01 00:00:00"),
    ("bob_johnson", "pbkdf2:sha256:260000$8QLpI0htlIEWohuQ$55a50ce1a38d45f282f50b7612e672c24d038e7d865a6f675a2d4f5a68ea0fe2", "1978-03-15", "bobjohnson@example.com", 3, "2021-01-01", "2021-01-06", "I\'m a chess coach!", "2016-01-01 00:00:00"),
    ("emily_williams", "pbkdf2:sha256:260000$8QLpI0htlIEWohuQ$55a50ce1a38d45f282f50b7612e672c24d038e7d865a6f675a2d4f5a68ea0fe2", "2000-07-20", "emilywilliams@example.com", 3, NULL, "2021-01-07", "I\'m new to chess, looking for guidance", "2016-01-01 00:00:00"),
    ("jason_brown", "pbkdf2:sha256:260000$8QLpI0htlIEWohuQ$55a50ce1a38d45f282f50b7612e672c24d038e7d865a6f675a2d4f5a68ea0fe2", "1982-11-11", "jasonbrown@example.com", 4, "2021-01-01", "2021-01-08", "I\'m a chess veteran!", "2016-01-01 00:00:00"),
    ("maria_garcia", "pbkdf2:sha256:260000$8QLpI0htlIEWohuQ$55a50ce1a38d45f282f50b7612e672c24d038e7d865a6f675a2d4f5a68ea0fe2", "1998-04-05", "mariagarcia@example.com", 4, "2021-01-01", "2021-01-09", "I\'m a fan of positional chess!", "2016-01-01 00:00:00"),
    ("sarah_taylor", "pbkdf2:sha256:260000$8QLpI0htlIEWohuQ$55a50ce1a38d45f282f50b7612e672c24d038e7d865a6f675a2d4f5a68ea0fe2", "1989-01-25", "sarahtaylor@example.com", 5, "2021-01-01", "2021-01-10", "I love to play blitz chess!", "2016-01-01 00:00:00"),
    ("daniel_kim", "pbkdf2:sha256:260000$8QLpI0htlIEWohuQ$55a50ce1a38d45f282f50b7612e672c24d038e7d865a6f675a2d4f5a68ea0fe2", "2002-06-17", "danielkim@example.com", 5, NULL, "2021-01-11", "I\'m an up-and-coming chess player!", "2016-01-01 00:00:00"),
    ("julie_lee", "pbkdf2:sha256:260000$8QLpI0htlIEWohuQ$55a50ce1a38d45f282f50b7612e672c24d038e7d865a6f675a2d4f5a68ea0fe2", "1993-08-12", "julielee@example.com", 6, "2021-01-01", "2021-01-12", "Let\'s play some chess!", "2016-01-01 00:00:00");

-- All passwords are "password"

 * mysql+pymysql://root:***@localhost/
26 rows affected.
0 rows affected.

[]

In [386]:
%%sql
INSERT INTO Tournaments (tournament_name, is_rated, is_public, start_datetime, end_datetime, initial_limit, increment, host_team_id) VALUES
    ('Spring Blitz Tournament', 1, 1, '2023-04-22 12:00:00', '2023-04-22 16:00:00', 5, 2, 8),
    ('Summer Rapid Tournament', 0, 1, '2023-07-15 14:00:00', '2023-07-15 18:00:00', 6, 3, 4),
    ('Fall Classic Tournament', 1, 0, '2023-09-23 10:00:00', '2023-09-24 17:00:00', 10, 5, 9),
    ('Winter Warm-Up Tournament', 0, 1, '2023-12-02 13:00:00', '2023-12-02 17:00:00', 8, 2, 1),
    ('Beginner''s Cup', 0, 1, '2023-04-30 11:00:00', '2023-04-30 13:00:00', 3, 1, 5),
    ('Intermediate Invitational', 1, 1, '2023-05-12 15:00:00', '2023-05-12 19:00:00', 8, 3, 3),
    ('Advanced Arena', 1, 0, '2023-08-08 12:00:00', '2023-08-08 18:00:00', 12, 4, 11),
    ('International Open', 1, 1, '2023-10-14 10:00:00', '2023-10-15 17:00:00', 20, 5, 6),
    ('Queen''s Gambit Cup', 1, 0, '2023-11-25 14:00:00', '2023-11-25 20:00:00', 16, 3, 2),
    ('King''s Cup', 1, 1, '2023-12-31 20:00:00', '2024-01-01 01:00:00', 10, 2, 10),
    ('Chess Tournament 11', 1, 0, '2023-05-01 14:00:00', '2023-05-01 18:00:00', 10, 2, NULL),
    ('Friendly match', 0, 1, '2023-06-10 15:00:00', '2023-06-10 17:00:00', 8, 1, NULL),
    ('International Blitz', 1, 1, '2023-07-15 10:00:00', '2023-07-15 18:00:00', 16, 3, 3),
    ('Grand Prix 2023', 1, 0, '2023-08-01 10:00:00', '2023-08-15 10:00:00', 30, 5, 2),
    ('Rapid Open 2023', 1, 1, '2023-09-01 11:00:00', '2023-09-01 16:00:00', 20, 2, NULL),
    ('Blitz Championship', 1, 0, '2023-10-15 12:00:00', '2023-10-15 16:00:00', 12, 1, 4),
    ('Team Cup', 0, 1, '2023-11-01 09:00:00', '2023-11-01 18:00:00', 32, 3, NULL),
    ('King of the Hill', 1, 1, '2024-01-01 14:00:00', '2024-01-01 16:00:00', 8, 1, NULL),
    ('World Cup', 1, 0, '2024-02-01 10:00:00', '2024-03-01 10:00:00', 64, 5, 1),
    ('Chess Olympiad 2024', 0, 1, '2024-07-01 10:00:00', '2024-07-15 10:00:00', 40, 3, NULL);

 * mysql+pymysql://root:***@localhost/
20 rows affected.

[]

In [387]:
%%sql
INSERT INTO Puzzles(fen, movelist, rating, solve_count)
VALUES
    ("q3k1nr/1pp1nQpp/3p4/1P2p3/4P3/B1PP1b2/B5PP/5K2 b k - 0 17","e8d7 a2e6 d7d8 f7f8",1760,1),
    ("r3r1k1/p4ppp/2p2n2/1p6/3P1qb1/2NQR3/PPB2PP1/R1B3K1 w - - 5 18","e3g3 e8e1 g1h2 e1c1 a1c1 f4h6 h2g1 h6c1",2671,0),
    ("Q1b2r1k/p2np2p/5bp1/q7/5P2/4B3/PPP3PP/2KR1B1R w - - 1 17","d1d7 a5e1 d7d1 e1e3 c1b1 e3b6",2235,0),
    ("1k1r4/pp3pp1/2p1p3/4b3/P3n1P1/8/KPP2PN1/3rBR1R b - - 2 31","b8c7 e1a5 b7b6 f1d1",998,3),
    ("8/8/8/7p/5rpk/5p1r/5K2/4Q3 w - - 0 63", "e1e7 f4f6 e7f6", 2022, 0),
    ("4rr2/2p5/8/pPp2k2/P1P1p3/5p2/3B1R2/4RK2 b - - 0 36", "f8h8 f2f3 e4f3 e1e8 h8e8", 1772, 1),
    ("3b4/1p1b1k2/p1p3p1/2Pp1p2/qP3P2/3B2P1/1Q2N1K1/8 w - - 2 32", "e2c3 d8f6 c3a4 f6b2 a4b2", 1737, 1),
    ("2N5/6kp/B5p1/ppb1p3/2p1P1P1/5K1P/8/8 b - - 1 38", "c4c3 f3e2 b5b4", 1749, 2);

 * mysql+pymysql://root:***@localhost/
8 rows affected.

[]

In [388]:
%%sql
INSERT INTO Applications(id, creator_name, approver_name, team_id)
VALUES
    (1, "KH-Brawl", NULL, 4),
    (2, "KH-Brawl", NULL, 3),
    (3, "KH-Brawl", NULL, 1),
    (1, "ethantan2509", NULL, 1),
    (2, "ethantan2509", NULL, 2),
    (3, "ethantan2509", NULL, 3),
    (4, "ethantan2509", NULL, 4),
    (1, "zachary_song", NULL, 1);

 * mysql+pymysql://root:***@localhost/
8 rows affected.

[]

In [389]:
%%sql
INSERT INTO Participates (tournament_id, player_name, ranking, score, performance)
VALUES
    (4, "zachary_song", 1, 3, 1700),
    (4, "DillyWeed",    2, 2, 1100),
    (4, "ethantan2509", 3, 1, 1400),
    (1, "Haloen", 1, 3, 1900),
    (1, "PICKLEPICKLEPICKLE", 2, 0, 1400),
    (1, "WisdomGuy", 2, 1, 1700),
    (5, "oxidyZe", NULL, NULL, NULL),
    (5, "coolingTundra", NULL, NULL, NULL),
    (5, "meower37", NULL, NULL, NULL);

 * mysql+pymysql://root:***@localhost/
9 rows affected.

[]

In [390]:
%%sql
INSERT INTO Games(is_rated, is_public, datetime, initial_limit, increment, white_name, black_name, tournament_id, pgn)
VALUES
    (1, 1, "2023-03-11 09:00:00", 10, 15, "zachary_song", "DillyWeed", 4, "1. e4 e5 2. Nf3 Nc6 3. Bc4 h6 4. O-O Nf6 5. Nc3 d6 6. d3 a6 7. a4 b5 8. axb5 Nd4 9. bxa6 Nxf3+ 10. Qxf3 d5 11. Nxd5 Nxd5 12. Bxd5 Ra7 13. Qxf7# 1-0"),
    (1, 1, "2023-03-12 09:00:00", 10, 15, "DillyWeed", "ethantan2509", 4, "1. d4 d5 2. Nc3 Nf6 3. e4 dxe4 4. d5 c6 5. f3 exf3 6. gxf3 cxd5 7. Bb5+ Bd7 8. Nxd5 Bxb5 9. Nxf6+ gxf6 10. Qxd8+ Kxd8 11. Be3 a5 12. O-O-O+ Kc8 13. f4 Bh6 14. Nf3 e5 15. Rhe1 exf4 16. Bc5 Na6 17. Bd6 Kd7 18. Nd4 Rae8 19. Rxe8 f3+ 20. Kb1 Rxe8 21. Nxb5 f2 22. Bg3+ Ke7 23. Bxf2 Rd8 24. Nc3 Rxd1+ 25. Nxd1 Nb4 26. a3 Nd5 27. Bc5+ Ke6 28. c4 Nf4 29. Ne3 f5 1/2-1/2"),
    (1, 1, "2023-03-11 13:30:00", 10, 15, "ethantan2509", "zachary_song", 4, "1. d4 Nf6 2. c4 c6 3. g3 d5 4. Nc3 e6 5. Nf3 Nbd7 6. c5 b6 7. b4 b5 8. Bg2 a5 9. Ba3 a4 10. Ne5 Be7 11. Qc2 Nxe5 12. dxe5 Nd7 13. f4 f6 14. Bh3 Nf8 15. O-O Ng6 16. Rad1 f5 17. e3 O-O 18. Ne2 1/2-1/2"),
    (1, 0, "2023-03-14 12:30:00", 60, 30, "Haloen", "WisdomGuy", 1, "1. e4 c5 2. Nf3 d6 3. Nc3 Nf6 4. Bc4 g6 5. a3 Bg7 6. d3 Nc6 7. Be3 O-O 8. Qe2 Bg4 9. O-O-O Bxf3 10. Qxf3 Ne5 11. Qe2 Nxc4 12. dxc4 Rb8 13. h4 h5 14. f3 Nh7 15. g4 hxg4 16. fxg4 f5 17. g5 fxe4 18. Nxe4 Qb6 19. b3 Qa5 20. a4 a6 21. Bd2 Qc7 22. Rhf1 b5 23. Rxf8+ Kxf8 24. Rf1+ Kg8 25. Bc3 bxc4 26. Bxg7 Kxg7 27. Qxc4 Rf8 28. Rxf8 Kxf8 29. Qxa6 d5 30. Qa8+ Kf7 31. Qxd5+ e6 32. Qxc5 Qf4+ 33. Nd2 Qxh4 34. Qc7+ Kg8 35. Qc8+ Nf8 36. Kb2 Qxg5 37. Ka3 Qxd2 38. b4 Qc1+ 39. Kb3 Qb1+ 40. Kc4 Qa2+ 41. Kb5 Qd5+ 42. Qc5 Qd7+ 43. Qc6 Qa7 44. Qa6 Qd7+ 45. Qc6 Qa7 46. Qa6 Qd7+ 47. Qc6 1/2-1/2"),
    (1, 0, "2023-03-15 12:30:00", 60, 30, "Haloen", "PICKLEPICKLEPICKLE", 1, "1. d4 d5 2. Nf3 Nf6 3. Bf4 Nc6 4. e3 e5 5. Bg3 exd4 6. exd4 Qe7+ 7. Qe2 Ne4 8. Nc3 Bg4 9. Nxe4 Nxd4 10. Qd3 Nxc2+ 11. Qxc2 dxe4 12. Nd2 e3 13. fxe3 Qxe3+ 14. Be2 Bxe2 15. Qe4+ Be7 16. Qxe3 Bg4 17. Bxc7 Rc8 18. Bd6 O-O 19. Bxe7 Rfe8 20. O-O Rc7 21. Qf4 Rcxe7 22. Qxg4 Re2 23. Qf4 f6 24. Rf2 Rxf2 25. Qxf2 b6 26. Re1 Rf8 27. Re7 b5 28. Qxa7 f5 29. Rxg7+ Kh8 30. Rxh7+ 1-0"),
    (1, 1, "2023-02-11 16:02:11", 1, 2, "ethantan2509", "KH-Brawl", NULL, "1. e4 e5 2. Nf3 Nc6 3. Bc4 d6 4. O-O Nf6 5. Ng5 d5 6. exd5 Nxd5 7. Qf3 Qxg5 8. Qxd5 Be6 9. Qd3 Rc8 10. Bxe6 fxe6 11. Qb3 Qg4 12. h3 Qg6 13. Qxb7 Kd7 14. c3 Qd3 15. Qb3 Bd6 16. Na3 Rhf8 17. Nc4 Rf5 18. Ne3 Rf7 19. Qc2 Qxc2 20. Nxc2 e4 21. f3 Rcf8 22. Ne1 exf3 23. Nxf3 Rf5 24. d4 e5 25. dxe5 Bxe5 26. Nxe5+ Nxe5 27. Rxf5 Rxf5 28. Be3 Nc4 29. Bxa7 Nxb2 30. Rb1 Na4 31. Bd4 g6 32. Rb4 Ra5 33. Kf2 c5 34. Bxc5 Nxc5 35. Rd4+ Ke6 36. Kf3 Rxa2 37. Rc4 Nd3 38. Re4+ Kf5 39. g4+ Kf6 40. Ke3 Nc5 41. Rf4+ Ke7 42. Rc4 Kd6 43. Rd4+ Ke5 44. Rc4 Ne6 45. Re4+ Kf6 46. Rb4 Rh2 47. Rb1 Rxh3+ 48. Ke4 Rxc3 49. Rf1+ Ke7 50. Re1 Rg3 51. Kd5 Rd3+ 52. Kc4 Rd4+ 53. Kc3 Rxg4 54. Rh1 h5 55. Kd3 Rg3+ 56. Ke4 Kf6 57. Rf1+ Kg5 58. Kd5 Nf4+ 59. Ke4 h4 60. Rxf4 Rg4 61. Rxg4+ Kxg4 62. Ke3 Kg3 63. Ke2 Kg2 64. Ke1 h3 65. Ke2 h2 66. Ke3 h1=Q 67. Ke4 Kf2+ 68. Kd4 g5 69. Ke5 g4 70. Kf4 g3 71. Kg4 g2 72. Kf4 g1=Q 73. Ke5 Qh4 74. Kf5 Qgg5+ 75. Ke6 Qhh6+ 76. Kf7 Qgg7+ 77. Ke8   Qhh8# 0-1"),
    (0, 1, "2023-02-11 16:09:23", 1, 2, "KH-Brawl", "ethantan2509", NULL, "1. e4 e5 2. Nf3 Nc6 3. Bc4 d6 4. d3 Nf6 5. Be3 Be7 6. Ng5 O-O 7. Nc3 Ng4 8. O-O Nxe3 9. fxe3 Be6 10. Bxe6 fxe6 11. Rxf8+ Qxf8 12. Qf1 Qxf1+ 13. Rxf1 Bxg5 14. g3 Rd8 15. Nb5 Bxe3+ 16. Kg2 d5 17. Nxc7 dxe4 18. dxe4 Rd2+ 19. Kh3 Rxc2 20. Nxe6 h6 21. Rf7 Kxf7 22. Kg4 Ke7 23. Nc7 Kd6 24. Ne8+ Ke7 25. Nxg7 Rc4 26. Nf5+ Ke6 27. Nxe3 Rxe4+ 28. Kf3 Nd4+ 29. Kf2 Rg4 30. Ng2 b5 31. Ne3 Rg6 32. Kg2 a5 33. h3 Nf5 34. Ng4 h5 35. Nh2 Rxg3+ 36. Kf2 Rxh3 37. Nf3 Rh1 38. Ke2 Ng3+ 39. Kd2 b4 40. Kc2 Rf1 41. Nh4 Kd5 42. Kb3 Kc5 43. Ka4 Kb6 44. Ng6 e4 45. Nh4 e3 46. Ng2 e2 47. b3 Rg1 48. Ne3 e1=Q 49. Nd5+ Ka6 50. Nc7+ Kb6 51. Nd5+ Kc5 52. Nc7 Qe7 53. Na6+ Kb6 54. Nb8 Qe8+ 55. Nc6 Qxc6# 0-1"),
    (0, 0, "2023-02-11 16:17:27", 1, 2, "KH-Brawl", "ethantan2509", NULL, "1. e4 e5 2. Nf3 Nc6 3. Nc3 Nf6 4. d4 exd4 5. Nxd4 Nxd4 6. Qxd4 Qe7 7. Bg5 h6 8. Bxf6 gxf6 9. O-O-O Bg7 10. g3 c5 11. Qa4 O-O 12. Bc4 Kh8 13. f4 d6 14. f5 Bd7 15. Bb5 Bxb5 16. Nxb5 a6 17. Nc3 b5 18. Qa5 b4 19. Na4 Qxe4 20. Rxd6 Qxh1+ 21. Kd2 Qxh2+ 22. Kd3 Qxg3+ 23. Kc4 Qxd6 24. Qxc5 Rac8 25. a3 Rxc5+ 26. Nxc5 bxa3 27. bxa3 Rc8 28. Kb4 Qxc5+ 29. Ka4 Qc4+ 30. Ka5 Qb5# 0-1");

 * mysql+pymysql://root:***@localhost/
8 rows affected.

[]

In [391]:
%%sql
INSERT INTO Attempts
VALUES
    (1, "Haloen", 1, 60, "2023-11-22 18:26:54"),
    (1, "Haloen", 0, 32, "2023-11-22 18:44:15"),
    (4, "Haloen", 1, 24, "2023-11-22 18:01:13"),
    (7, "Haloen", 1, 18, "2023-11-22 18:10:08"),
    (8, "Haloen", 1, 46, "2023-11-22 18:33:25"),
    (2, "DillyWeed", 0, 5, "2023-11-22 18:02:48"),
    (2, "coolingTundra", 0, 8, "2023-11-22 18:24:53"),
    (2, "meower37", 0, 102, "2023-11-22 18:49:14"),
    (4, "ethantan2509", 1, 16, "2023-11-22 18:05:21"),
    (4, "WisdomGuy", 1, 51, "2023-11-22 18:43:47"),
    (4, "oxidyZe", 0, 1, "2023-11-22 18:04:57"),
    (6, "oxidyZe", 1, 94, "2023-11-22 18:34:35"),
    (8, "oxidyZe", 1, 37, "2023-11-22 18:19:50");

 * mysql+pymysql://root:***@localhost/
13 rows affected.

[]

In [392]:
%%sql
-- Rating_History will be automaticlly updated with the triggers
-- Puzzle_History will be automaticlly updated with the triggers

 * mysql+pymysql://root:***@localhost/
0 rows affected.

[]

In [408]:
%%sql
SELECT * FROM Applications

 * mysql+pymysql://root:***@localhost/
9 rows affected.

[(1, None, 'ethantan2509', None, 1),
 (1, None, 'KH-Brawl', None, 4),
 (1, None, 'zachary_song', None, 1),
 (2, None, 'ethantan2509', None, 2),
 (2, None, 'KH-Brawl', None, 3),
 (3, None, 'ethantan2509', None, 3),
 (3, None, 'KH-Brawl', None, 1),
 (4, None, 'ethantan2509', None, 4),
 (6, 'vue', 'Haloen', None, 4)]

<div class="alert alert-block alert-warning">
Add in relevant select statements to show that your data is populated correctly FOR EACH relation, one cell each relation.
</div>

In [394]:
%%sql
SELECT * FROM Teams

 * mysql+pymysql://root:***@localhost/
20 rows affected.

[(1, 'NUSH Black Knights', datetime.date(2022, 2, 15), 'The real dark horses of NUS High!', None, 2),
 (2, 'Pawn Stars', datetime.date(2022, 1, 5), 'We are a group of beginners who are passionate about chess and want to improve our skills together.', None, 5),
 (3, 'Team Alpha', datetime.date(2022, 1, 1), 'We are a group of chess enthusiasts who love playing the game and improving our skills.', None, 4),
 (4, 'The Bishops', datetime.date(2022, 2, 1), 'We are a team of players who focus on developing creative and unorthodox strategies in the game.', None, 7),
 (5, 'The Kings', datetime.date(2022, 3, 1), 'We are a team of players who are determined to dominate the game and be the undisputed champions.', None, 4),
 (6, 'The Chess Masters', datetime.date(2022, 1, 15), 'We are a team of highly skilled and experienced players who are constantly pushing the boundaries of the game.', None, 1),
 (7, 'The Chessaholics', datetime.date(2022, 3, 1), 'We are a team of players who are addicted to the game and can never get enough of it.', None, 0),
 (8, 'The Chess Wizards', datetime.date(2022, 1, 25), 'We are a team of players who believe in the magic of the game and enjoy exploring its infinite possibilities.', None, 0),
 (9, 'The Black and Whites', datetime.date(2022, 2, 5), 'We are a team of players who believe in the power of simplicity and efficiency in the game.', None, 0),
 (10, 'The Checkmates', datetime.date(2022, 1, 10), 'We are a team of players who enjoy the thrill of checkmating our opponents and ending the game in style.', None, 0),
 (11, 'The Rooks', datetime.date(2022, 2, 20), 'We are a team of competitive players who aim to be the best in the game.', None, 0),
 (12, 'The Rook-ies', datetime.date(2022, 2, 25), 'We are a team of beginners who are eager to learn and improve our skills in the game.', None, 0),
 (13, 'The Knights of Chess', datetime.date(2022, 2, 10), 'We are a team of players who aim to be versatile and adaptable in the game, capable of handling any situation.', None, 0),
 (14, 'Chess Wizards', datetime.date(2022, 3, 5), 'We are a group of experienced players who enjoy sharing our knowledge and skills with others.', None, 0),
 (15, 'The Knights Templar', datetime.date(2022, 3, 15), 'We are a team of players who are committed to playing the game with honor and integrity.', None, 0),
 (16, 'The Grandmasters', datetime.date(2021, 12, 1), 'We are a team of highly skilled players who have achieved the highest level of proficiency in the game.', None, 0),
 (17, 'The Chess Titans', datetime.date(2022, 1, 20), 'We are a team of players who aspire to be the best in the game and are constantly pushing ourselves to improve.', None, 0),
 (18, "Queen's Gambits", datetime.date(2022, 3, 10), 'We are a group of female chess players who support and encourage each other in our pursuit of the game.', None, 0),
 (19, 'The Queens', datetime.date(2022, 2, 5), 'We are a team of female players who are passionate about chess and want to inspire more women to join the game.', None, 0),
 (20, 'Knight Movers', datetime.date(2021, 12, 15), 'We are a team of experienced players who enjoy challenging each other and learning new strategies.', None, 0)]

In [395]:
%%sql
SELECT username, team_id, mod_start_date, join_date FROM Players
ORDER BY team_id, mod_start_date DESC;

 * mysql+pymysql://root:***@localhost/
26 rows affected.

[('ethantan2509', None, None, None),
 ('KH-Brawl', None, None, None),
 ('zachary_song', None, None, None),
 ('hnngggrrrr', 1, datetime.datetime(2022, 12, 31, 0, 0), datetime.datetime(2019, 1, 1, 0, 0)),
 ('jane_doe', 1, datetime.datetime(2021, 1, 1, 0, 0), datetime.datetime(2021, 1, 3, 0, 0)),
 ('jessica_brown', 2, datetime.datetime(2021, 1, 1, 0, 0), datetime.datetime(2021, 1, 5, 0, 0)),
 ('Passwordcringe', 2, datetime.datetime(2018, 6, 25, 0, 0), datetime.datetime(2017, 1, 1, 0, 0)),
 ('coolingTundra', 2, None, datetime.datetime(2018, 1, 1, 0, 0)),
 ('jim_smith', 2, None, datetime.datetime(2021, 1, 4, 0, 0)),
 ('zetaNegativeOne', 2, None, datetime.datetime(2021, 1, 1, 0, 0)),
 ('LoverKent', 3, datetime.datetime(2022, 12, 31, 0, 0), datetime.datetime(2018, 1, 1, 0, 0)),
 ('bob_johnson', 3, datetime.datetime(2021, 1, 1, 0, 0), datetime.datetime(2021, 1, 6, 0, 0)),
 ('emily_williams', 3, None, datetime.datetime(2021, 1, 7, 0, 0)),
 ('meower37', 3, None, datetime.datetime(2023, 1, 1, 0, 0)),
 ('DillyWeed', 4, datetime.datetime(2023, 1, 1, 0, 0), datetime.datetime(2017, 1, 1, 0, 0)),
 ('Haloen', 4, datetime.datetime(2021, 12, 31, 0, 0), datetime.datetime(2020, 1, 1, 0, 0)),
 ('jason_brown', 4, datetime.datetime(2021, 1, 1, 0, 0), datetime.datetime(2021, 1, 8, 0, 0)),
 ('maria_garcia', 4, datetime.datetime(2021, 1, 1, 0, 0), datetime.datetime(2021, 1, 9, 0, 0)),
 ('jsck413', 4, None, datetime.datetime(2020, 1, 1, 0, 0)),
 ('PICKLEPICKLEPICKLE', 4, None, datetime.datetime(2019, 1, 1, 0, 0)),
 ('WisdomGuy', 4, None, datetime.datetime(2022, 1, 1, 0, 0)),
 ('drewmtr', 5, datetime.datetime(2022, 12, 31, 0, 0), datetime.datetime(2019, 1, 1, 0, 0)),
 ('sarah_taylor', 5, datetime.datetime(2021, 1, 1, 0, 0), datetime.datetime(2021, 1, 10, 0, 0)),
 ('daniel_kim', 5, None, datetime.datetime(2021, 1, 11, 0, 0)),
 ('oxidyZe', 5, None, datetime.datetime(2019, 1, 1, 0, 0)),
 ('julie_lee', 6, datetime.datetime(2021, 1, 1, 0, 0), datetime.datetime(2021, 1, 12, 0, 0))]

In [396]:
%%sql
SELECT tournament_id ID, tournament_name Name, IF(is_rated, "TRUE", "FALSE") "rated?", IF(is_public, "TRUE", "FALSE") "public?", start_datetime, end_datetime, initial_limit, increment, host_team_id
FROM Tournaments

 * mysql+pymysql://root:***@localhost/
20 rows affected.

[(1, 'Spring Blitz Tournament', 'TRUE', 'TRUE', datetime.datetime(2023, 4, 22, 12, 0), datetime.datetime(2023, 4, 22, 16, 0), 5, 2, 8),
 (2, 'Summer Rapid Tournament', 'FALSE', 'TRUE', datetime.datetime(2023, 7, 15, 14, 0), datetime.datetime(2023, 7, 15, 18, 0), 6, 3, 4),
 (3, 'Fall Classic Tournament', 'TRUE', 'FALSE', datetime.datetime(2023, 9, 23, 10, 0), datetime.datetime(2023, 9, 24, 17, 0), 10, 5, 9),
 (4, 'Winter Warm-Up Tournament', 'FALSE', 'TRUE', datetime.datetime(2023, 12, 2, 13, 0), datetime.datetime(2023, 12, 2, 17, 0), 8, 2, 1),
 (5, "Beginner's Cup", 'FALSE', 'TRUE', datetime.datetime(2023, 4, 30, 11, 0), datetime.datetime(2023, 4, 30, 13, 0), 3, 1, 5),
 (6, 'Intermediate Invitational', 'TRUE', 'TRUE', datetime.datetime(2023, 5, 12, 15, 0), datetime.datetime(2023, 5, 12, 19, 0), 8, 3, 3),
 (7, 'Advanced Arena', 'TRUE', 'FALSE', datetime.datetime(2023, 8, 8, 12, 0), datetime.datetime(2023, 8, 8, 18, 0), 12, 4, 11),
 (8, 'International Open', 'TRUE', 'TRUE', datetime.datetime(2023, 10, 14, 10, 0), datetime.datetime(2023, 10, 15, 17, 0), 20, 5, 6),
 (9, "Queen's Gambit Cup", 'TRUE', 'FALSE', datetime.datetime(2023, 11, 25, 14, 0), datetime.datetime(2023, 11, 25, 20, 0), 16, 3, 2),
 (10, "King's Cup", 'TRUE', 'TRUE', datetime.datetime(2023, 12, 31, 20, 0), datetime.datetime(2024, 1, 1, 1, 0), 10, 2, 10),
 (11, 'Chess Tournament 11', 'TRUE', 'FALSE', datetime.datetime(2023, 5, 1, 14, 0), datetime.datetime(2023, 5, 1, 18, 0), 10, 2, None),
 (12, 'Friendly match', 'FALSE', 'TRUE', datetime.datetime(2023, 6, 10, 15, 0), datetime.datetime(2023, 6, 10, 17, 0), 8, 1, None),
 (13, 'International Blitz', 'TRUE', 'TRUE', datetime.datetime(2023, 7, 15, 10, 0), datetime.datetime(2023, 7, 15, 18, 0), 16, 3, 3),
 (14, 'Grand Prix 2023', 'TRUE', 'FALSE', datetime.datetime(2023, 8, 1, 10, 0), datetime.datetime(2023, 8, 15, 10, 0), 30, 5, 2),
 (15, 'Rapid Open 2023', 'TRUE', 'TRUE', datetime.datetime(2023, 9, 1, 11, 0), datetime.datetime(2023, 9, 1, 16, 0), 20, 2, None),
 (16, 'Blitz Championship', 'TRUE', 'FALSE', datetime.datetime(2023, 10, 15, 12, 0), datetime.datetime(2023, 10, 15, 16, 0), 12, 1, 4),
 (17, 'Team Cup', 'FALSE', 'TRUE', datetime.datetime(2023, 11, 1, 9, 0), datetime.datetime(2023, 11, 1, 18, 0), 32, 3, None),
 (18, 'King of the Hill', 'TRUE', 'TRUE', datetime.datetime(2024, 1, 1, 14, 0), datetime.datetime(2024, 1, 1, 16, 0), 8, 1, None),
 (19, 'World Cup', 'TRUE', 'FALSE', datetime.datetime(2024, 2, 1, 10, 0), datetime.datetime(2024, 3, 1, 10, 0), 64, 5, 1),
 (20, 'Chess Olympiad 2024', 'FALSE', 'TRUE', datetime.datetime(2024, 7, 1, 10, 0), datetime.datetime(2024, 7, 15, 10, 0), 40, 3, None)]

In [397]:
%%sql
SELECT * FROM Puzzles

 * mysql+pymysql://root:***@localhost/
8 rows affected.

[(1, 'e8d7 a2e6 d7d8 f7f8', 'q3k1nr/1pp1nQpp/3p4/1P2p3/4P3/B1PP1b2/B5PP/5K2 b k - 0 17', 1760, 1),
 (2, 'e3g3 e8e1 g1h2 e1c1 a1c1 f4h6 h2g1 h6c1', 'r3r1k1/p4ppp/2p2n2/1p6/3P1qb1/2NQR3/PPB2PP1/R1B3K1 w - - 5 18', 2671, 0),
 (3, 'd1d7 a5e1 d7d1 e1e3 c1b1 e3b6', 'Q1b2r1k/p2np2p/5bp1/q7/5P2/4B3/PPP3PP/2KR1B1R w - - 1 17', 2235, 0),
 (4, 'b8c7 e1a5 b7b6 f1d1', '1k1r4/pp3pp1/2p1p3/4b3/P3n1P1/8/KPP2PN1/3rBR1R b - - 2 31', 998, 3),
 (5, 'e1e7 f4f6 e7f6', '8/8/8/7p/5rpk/5p1r/5K2/4Q3 w - - 0 63', 2022, 0),
 (6, 'f8h8 f2f3 e4f3 e1e8 h8e8', '4rr2/2p5/8/pPp2k2/P1P1p3/5p2/3B1R2/4RK2 b - - 0 36', 1772, 1),
 (7, 'e2c3 d8f6 c3a4 f6b2 a4b2', '3b4/1p1b1k2/p1p3p1/2Pp1p2/qP3P2/3B2P1/1Q2N1K1/8 w - - 2 32', 1737, 1),
 (8, 'c4c3 f3e2 b5b4', '2N5/6kp/B5p1/ppb1p3/2p1P1P1/5K1P/8/8 b - - 1 38', 1749, 2)]

In [398]:
%%sql
SELECT puzzle_id, player_name, IF(is_correct, "TRUE", "FALSE") "correct?", time_taken
FROM Attempts

 * mysql+pymysql://root:***@localhost/
13 rows affected.

[(1, 'Haloen', 'TRUE', 60),
 (1, 'Haloen', 'FALSE', 32),
 (4, 'Haloen', 'TRUE', 24),
 (7, 'Haloen', 'TRUE', 18),
 (8, 'Haloen', 'TRUE', 46),
 (2, 'DillyWeed', 'FALSE', 5),
 (2, 'coolingTundra', 'FALSE', 8),
 (2, 'meower37', 'FALSE', 102),
 (4, 'ethantan2509', 'TRUE', 16),
 (4, 'WisdomGuy', 'TRUE', 51),
 (4, 'oxidyZe', 'FALSE', 1),
 (6, 'oxidyZe', 'TRUE', 94),
 (8, 'oxidyZe', 'TRUE', 37)]

In [399]:
%%sql
-- Hid the PGN because its super big
SELECT game_id, IF(is_rated, "TRUE", "FALSE") "rated?", IF(is_public, "TRUE", "FALSE") "public?", datetime, initial_limit, increment, white_name, black_name, tournament_id
FROM Games;

 * mysql+pymysql://root:***@localhost/
8 rows affected.

[(1, 'TRUE', 'TRUE', datetime.datetime(2023, 3, 11, 9, 0), 10, 15, 'zachary_song', 'DillyWeed', 4),
 (2, 'TRUE', 'TRUE', datetime.datetime(2023, 3, 12, 9, 0), 10, 15, 'DillyWeed', 'ethantan2509', 4),
 (3, 'TRUE', 'TRUE', datetime.datetime(2023, 3, 11, 13, 30), 10, 15, 'ethantan2509', 'zachary_song', 4),
 (4, 'TRUE', 'FALSE', datetime.datetime(2023, 3, 14, 12, 30), 60, 30, 'Haloen', 'WisdomGuy', 1),
 (5, 'TRUE', 'FALSE', datetime.datetime(2023, 3, 15, 12, 30), 60, 30, 'Haloen', 'PICKLEPICKLEPICKLE', 1),
 (6, 'TRUE', 'TRUE', datetime.datetime(2023, 2, 11, 16, 2, 11), 1, 2, 'ethantan2509', 'KH-Brawl', None),
 (7, 'FALSE', 'TRUE', datetime.datetime(2023, 2, 11, 16, 9, 23), 1, 2, 'KH-Brawl', 'ethantan2509', None),
 (8, 'FALSE', 'FALSE', datetime.datetime(2023, 2, 11, 16, 17, 27), 1, 2, 'KH-Brawl', 'ethantan2509', None)]

In [400]:
%%sql
SELECT * FROM Puzzle_History
ORDER BY username, datetime;

 * mysql+pymysql://root:***@localhost/
39 rows affected.

[('bob_johnson', datetime.datetime(2016, 1, 1, 0, 0), 1200),
 ('coolingTundra', datetime.datetime(2016, 1, 1, 0, 0), 1200),
 ('coolingTundra', datetime.datetime(2023, 11, 22, 18, 24, 53), 1200),
 ('daniel_kim', datetime.datetime(2016, 1, 1, 0, 0), 1200),
 ('DillyWeed', datetime.datetime(2016, 1, 1, 0, 0), 1200),
 ('DillyWeed', datetime.datetime(2023, 11, 22, 18, 2, 48), 1200),
 ('drewmtr', datetime.datetime(2016, 1, 1, 0, 0), 1200),
 ('emily_williams', datetime.datetime(2016, 1, 1, 0, 0), 1200),
 ('ethantan2509', datetime.datetime(2016, 1, 1, 0, 0), 1200),
 ('ethantan2509', datetime.datetime(2023, 11, 22, 18, 5, 21), 1208),
 ('Haloen', datetime.datetime(2016, 1, 1, 0, 0), 1200),
 ('Haloen', datetime.datetime(2023, 11, 22, 18, 1, 13), 1237),
 ('Haloen', datetime.datetime(2023, 11, 22, 18, 10, 8), 1260),
 ('Haloen', datetime.datetime(2023, 11, 22, 18, 26, 54), 1231),
 ('Haloen', datetime.datetime(2023, 11, 22, 18, 33, 25), 1260),
 ('Haloen', datetime.datetime(2023, 11, 22, 18, 44, 15), 1230),
 ('hnngggrrrr', datetime.datetime(2016, 1, 1, 0, 0), 1200),
 ('jane_doe', datetime.datetime(2016, 1, 1, 0, 0), 1200),
 ('jason_brown', datetime.datetime(2016, 1, 1, 0, 0), 1200),
 ('jessica_brown', datetime.datetime(2016, 1, 1, 0, 0), 1200),
 ('jim_smith', datetime.datetime(2016, 1, 1, 0, 0), 1200),
 ('jsck413', datetime.datetime(2016, 1, 1, 0, 0), 1200),
 ('julie_lee', datetime.datetime(2016, 1, 1, 0, 0), 1200),
 ('KH-Brawl', datetime.datetime(2016, 1, 1, 0, 0), 1200),
 ('LoverKent', datetime.datetime(2016, 1, 1, 0, 0), 1200),
 ('maria_garcia', datetime.datetime(2016, 1, 1, 0, 0), 1200),
 ('meower37', datetime.datetime(2016, 1, 1, 0, 0), 1200),
 ('meower37', datetime.datetime(2023, 11, 22, 18, 49, 14), 1200),
 ('oxidyZe', datetime.datetime(2016, 1, 1, 0, 0), 1200),
 ('oxidyZe', datetime.datetime(2023, 11, 22, 18, 4, 57), 1176),
 ('oxidyZe', datetime.datetime(2023, 11, 22, 18, 19, 50), 1238),
 ('oxidyZe', datetime.datetime(2023, 11, 22, 18, 34, 35), 1207),
 ('Passwordcringe', datetime.datetime(2016, 1, 1, 0, 0), 1200),
 ('PICKLEPICKLEPICKLE', datetime.datetime(2016, 1, 1, 0, 0), 1200),
 ('sarah_taylor', datetime.datetime(2016, 1, 1, 0, 0), 1200),
 ('WisdomGuy', datetime.datetime(2016, 1, 1, 0, 0), 1200),
 ('WisdomGuy', datetime.datetime(2023, 11, 22, 18, 43, 47), 1208),
 ('zachary_song', datetime.datetime(2016, 1, 1, 0, 0), 1200),
 ('zetaNegativeOne', datetime.datetime(2016, 1, 1, 0, 0), 1200)]

In [401]:
%%sql
SELECT * FROM Rating_History
ORDER BY datetime;

 * mysql+pymysql://root:***@localhost/
38 rows affected.

[('bob_johnson', datetime.datetime(2016, 1, 1, 0, 0), 1200),
 ('coolingTundra', datetime.datetime(2016, 1, 1, 0, 0), 1200),
 ('daniel_kim', datetime.datetime(2016, 1, 1, 0, 0), 1200),
 ('DillyWeed', datetime.datetime(2016, 1, 1, 0, 0), 1200),
 ('oxidyZe', datetime.datetime(2016, 1, 1, 0, 0), 1200),
 ('Passwordcringe', datetime.datetime(2016, 1, 1, 0, 0), 1200),
 ('drewmtr', datetime.datetime(2016, 1, 1, 0, 0), 1200),
 ('emily_williams', datetime.datetime(2016, 1, 1, 0, 0), 1200),
 ('ethantan2509', datetime.datetime(2016, 1, 1, 0, 0), 1200),
 ('PICKLEPICKLEPICKLE', datetime.datetime(2016, 1, 1, 0, 0), 1200),
 ('sarah_taylor', datetime.datetime(2016, 1, 1, 0, 0), 1200),
 ('WisdomGuy', datetime.datetime(2016, 1, 1, 0, 0), 1200),
 ('Haloen', datetime.datetime(2016, 1, 1, 0, 0), 1200),
 ('zachary_song', datetime.datetime(2016, 1, 1, 0, 0), 1200),
 ('zetaNegativeOne', datetime.datetime(2016, 1, 1, 0, 0), 1200),
 ('hnngggrrrr', datetime.datetime(2016, 1, 1, 0, 0), 1200),
 ('jane_doe', datetime.datetime(2016, 1, 1, 0, 0), 1200),
 ('jason_brown', datetime.datetime(2016, 1, 1, 0, 0), 1200),
 ('jessica_brown', datetime.datetime(2016, 1, 1, 0, 0), 1200),
 ('jim_smith', datetime.datetime(2016, 1, 1, 0, 0), 1200),
 ('jsck413', datetime.datetime(2016, 1, 1, 0, 0), 1200),
 ('julie_lee', datetime.datetime(2016, 1, 1, 0, 0), 1200),
 ('KH-Brawl', datetime.datetime(2016, 1, 1, 0, 0), 1200),
 ('LoverKent', datetime.datetime(2016, 1, 1, 0, 0), 1200),
 ('maria_garcia', datetime.datetime(2016, 1, 1, 0, 0), 1200),
 ('meower37', datetime.datetime(2016, 1, 1, 0, 0), 1200),
 ('ethantan2509', datetime.datetime(2023, 2, 11, 16, 2, 11), 1183),
 ('KH-Brawl', datetime.datetime(2023, 2, 11, 16, 2, 11), 1216),
 ('DillyWeed', datetime.datetime(2023, 3, 11, 9, 0), 1184),
 ('zachary_song', datetime.datetime(2023, 3, 11, 9, 0), 1216),
 ('ethantan2509', datetime.datetime(2023, 3, 11, 13, 30), 1200),
 ('zachary_song', datetime.datetime(2023, 3, 11, 13, 30), 1215),
 ('DillyWeed', datetime.datetime(2023, 3, 12, 9, 0), 1185),
 ('ethantan2509', datetime.datetime(2023, 3, 12, 9, 0), 1199),
 ('Haloen', datetime.datetime(2023, 3, 14, 12, 30), 1200),
 ('WisdomGuy', datetime.datetime(2023, 3, 14, 12, 30), 1200),
 ('Haloen', datetime.datetime(2023, 3, 15, 12, 30), 1216),
 ('PICKLEPICKLEPICKLE', datetime.datetime(2023, 3, 15, 12, 30), 1184)]

In [402]:
%%sql
SELECT Puzzles.puzzle_id, count(*)
FROM Attempts INNER JOIN Puzzles ON Puzzles.puzzle_id = Attempts.puzzle_id
WHERE is_correct
GROUP BY puzzle_id;

 * mysql+pymysql://root:***@localhost/
5 rows affected.

[(1, 1), (4, 3), (7, 1), (8, 2), (6, 1)]

In [403]:
%%sql
SELECT * FROM Applications;
SELECT * FROM Players;

 * mysql+pymysql://root:***@localhost/
8 rows affected.
26 rows affected.

[('bob_johnson', 'pbkdf2:sha256:260000$8QLpI0htlIEWohuQ$55a50ce1a38d45f282f50b7612e672c24d038e7d865a6f675a2d4f5a68ea0fe2', datetime.date(1978, 3, 15), 'bobjohnson@example.com', datetime.datetime(2016, 1, 1, 0, 0), 3, datetime.datetime(2021, 1, 1, 0, 0), datetime.datetime(2021, 1, 6, 0, 0), "I'm a chess coach!", None),
 ('coolingTundra', 'pbkdf2:sha256:260000$8QLpI0htlIEWohuQ$55a50ce1a38d45f282f50b7612e672c24d038e7d865a6f675a2d4f5a68ea0fe2', datetime.date(2009, 9, 7), 'coolingTundra@gmail.com', datetime.datetime(2016, 1, 1, 0, 0), 2, None, datetime.datetime(2018, 1, 1, 0, 0), 'I love Chess', None),
 ('daniel_kim', 'pbkdf2:sha256:260000$8QLpI0htlIEWohuQ$55a50ce1a38d45f282f50b7612e672c24d038e7d865a6f675a2d4f5a68ea0fe2', datetime.date(2002, 6, 17), 'danielkim@example.com', datetime.datetime(2016, 1, 1, 0, 0), 5, None, datetime.datetime(2021, 1, 11, 0, 0), "I'm an up-and-coming chess player!", None),
 ('DillyWeed', 'pbkdf2:sha256:260000$8QLpI0htlIEWohuQ$55a50ce1a38d45f282f50b7612e672c24d038e7d865a6f675a2d4f5a68ea0fe2', datetime.date(2009, 1, 8), 'dillyweed@gmail.com', datetime.datetime(2016, 1, 1, 0, 0), 4, datetime.datetime(2023, 1, 1, 0, 0), datetime.datetime(2017, 1, 1, 0, 0), 'I love Chess', None),
 ('drewmtr', 'pbkdf2:sha256:260000$8QLpI0htlIEWohuQ$55a50ce1a38d45f282f50b7612e672c24d038e7d865a6f675a2d4f5a68ea0fe2', datetime.date(2009, 3, 11), 'drewmtr@gmail.com', datetime.datetime(2016, 1, 1, 0, 0), 5, datetime.datetime(2022, 12, 31, 0, 0), datetime.datetime(2019, 1, 1, 0, 0), 'I love Chess', None),
 ('emily_williams', 'pbkdf2:sha256:260000$8QLpI0htlIEWohuQ$55a50ce1a38d45f282f50b7612e672c24d038e7d865a6f675a2d4f5a68ea0fe2', datetime.date(2000, 7, 20), 'emilywilliams@example.com', datetime.datetime(2016, 1, 1, 0, 0), 3, None, datetime.datetime(2021, 1, 7, 0, 0), "I'm new to chess, looking for guidance", None),
 ('ethantan2509', 'pbkdf2:sha256:260000$8QLpI0htlIEWohuQ$55a50ce1a38d45f282f50b7612e672c24d038e7d865a6f675a2d4f5a68ea0fe2', datetime.date(2009, 6, 28), 'ethantan@gmail.com', datetime.datetime(2016, 1, 1, 0, 0), None, None, None, 'I love Chess', None),
 ('Haloen', 'pbkdf2:sha256:260000$8QLpI0htlIEWohuQ$55a50ce1a38d45f282f50b7612e672c24d038e7d865a6f675a2d4f5a68ea0fe2', datetime.date(2009, 1, 5), 'Halogen@gmail.com', datetime.datetime(2016, 1, 1, 0, 0), 4, datetime.datetime(2021, 12, 31, 0, 0), datetime.datetime(2020, 1, 1, 0, 0), 'I love Chess', None),
 ('hnngggrrrr', 'pbkdf2:sha256:260000$8QLpI0htlIEWohuQ$55a50ce1a38d45f282f50b7612e672c24d038e7d865a6f675a2d4f5a68ea0fe2', datetime.date(2009, 7, 18), 'hnngggrrrr@gmail.com', datetime.datetime(2016, 1, 1, 0, 0), 1, datetime.datetime(2022, 12, 31, 0, 0), datetime.datetime(2019, 1, 1, 0, 0), 'I love Chess', None),
 ('jane_doe', 'pbkdf2:sha256:260000$8QLpI0htlIEWohuQ$55a50ce1a38d45f282f50b7612e672c24d038e7d865a6f675a2d4f5a68ea0fe2', datetime.date(1992, 2, 14), 'janedoe@example.com', datetime.datetime(2016, 1, 1, 0, 0), 1, datetime.datetime(2021, 1, 1, 0, 0), datetime.datetime(2021, 1, 3, 0, 0), 'Chess is my passion!', None),
 ('jason_brown', 'pbkdf2:sha256:260000$8QLpI0htlIEWohuQ$55a50ce1a38d45f282f50b7612e672c24d038e7d865a6f675a2d4f5a68ea0fe2', datetime.date(1982, 11, 11), 'jasonbrown@example.com', datetime.datetime(2016, 1, 1, 0, 0), 4, datetime.datetime(2021, 1, 1, 0, 0), datetime.datetime(2021, 1, 8, 0, 0), "I'm a chess veteran!", None),
 ('jessica_brown', 'pbkdf2:sha256:260000$8QLpI0htlIEWohuQ$55a50ce1a38d45f282f50b7612e672c24d038e7d865a6f675a2d4f5a68ea0fe2', datetime.date(1995, 12, 7), 'jessicabrown@example.com', datetime.datetime(2016, 1, 1, 0, 0), 2, datetime.datetime(2021, 1, 1, 0, 0), datetime.datetime(2021, 1, 5, 0, 0), "Let's play some chess!", None),
 ('jim_smith', 'pbkdf2:sha256:260000$8QLpI0htlIEWohuQ$55a50ce1a38d45f282f50b7612e672c24d038e7d865a6f675a2d4f5a68ea0fe2', datetime.date(1985, 9, 23), 'jimsmith@example.com', datetime.datetime(2016, 1, 1, 0, 0), 2, None, datetime.datetime(2021, 1, 4, 0, 0), 'Looking for like-minded players!', None),
 ('jsck413', 'pbkdf2:sha256:260000$8QLpI0htlIEWohuQ$55a50ce1a38d45f282f50b7612e672c24d038e7d865a6f675a2d4f5a68ea0fe2', datetime.date(2009, 1, 19), 'jsck413@gmail.com', datetime.datetime(2016, 1, 1, 0, 0), 4, None, datetime.datetime(2020, 1, 1, 0, 0), 'I love Chess', None),
 ('julie_lee', 'pbkdf2:sha256:260000$8QLpI0htlIEWohuQ$55a50ce1a38d45f282f50b7612e672c24d038e7d865a6f675a2d4f5a68ea0fe2', datetime.date(1993, 8, 12), 'julielee@example.com', datetime.datetime(2016, 1, 1, 0, 0), 6, datetime.datetime(2021, 1, 1, 0, 0), datetime.datetime(2021, 1, 12, 0, 0), "Let's play some chess!", None),
 ('KH-Brawl', 'pbkdf2:sha256:260000$8QLpI0htlIEWohuQ$55a50ce1a38d45f282f50b7612e672c24d038e7d865a6f675a2d4f5a68ea0fe2', datetime.date(2009, 1, 7), 'KHBrawl@gmail.com', datetime.datetime(2016, 1, 1, 0, 0), None, None, None, 'I love Chess', None),
 ('LoverKent', 'pbkdf2:sha256:260000$8QLpI0htlIEWohuQ$55a50ce1a38d45f282f50b7612e672c24d038e7d865a6f675a2d4f5a68ea0fe2', datetime.date(2009, 5, 24), 'loverkent@gmail.com', datetime.datetime(2016, 1, 1, 0, 0), 3, datetime.datetime(2022, 12, 31, 0, 0), datetime.datetime(2018, 1, 1, 0, 0), 'I love Chess', None),
 ('maria_garcia', 'pbkdf2:sha256:260000$8QLpI0htlIEWohuQ$55a50ce1a38d45f282f50b7612e672c24d038e7d865a6f675a2d4f5a68ea0fe2', datetime.date(1998, 4, 5), 'mariagarcia@example.com', datetime.datetime(2016, 1, 1, 0, 0), 4, datetime.datetime(2021, 1, 1, 0, 0), datetime.datetime(2021, 1, 9, 0, 0), "I'm a fan of positional chess!", None),
 ('meower37', 'pbkdf2:sha256:260000$8QLpI0htlIEWohuQ$55a50ce1a38d45f282f50b7612e672c24d038e7d865a6f675a2d4f5a68ea0fe2', datetime.date(2009, 5, 18), 'catmeow@gmail.com', datetime.datetime(2016, 1, 1, 0, 0), 3, None, datetime.datetime(2023, 1, 1, 0, 0), 'I love Chess', None),
 ('oxidyZe', 'pbkdf2:sha256:260000$8QLpI0htlIEWohuQ$55a50ce1a38d45f282f50b7612e672c24d038e7d865a6f675a2d4f5a68ea0fe2', datetime.date(2009, 2, 13), 'oxidyZe@gmail.com', datetime.datetime(2016, 1, 1, 0, 0), 5, None, datetime.datetime(2019, 1, 1, 0, 0), 'I love Chess', None),
 ('Passwordcringe', 'pbkdf2:sha256:260000$8QLpI0htlIEWohuQ$55a50ce1a38d45f282f50b7612e672c24d038e7d865a6f675a2d4f5a68ea0fe2', datetime.date(2009, 4, 27), 'passwordCringe@gmail.com', datetime.datetime(2016, 1, 1, 0, 0), 2, datetime.datetime(2018, 6, 25, 0, 0), datetime.datetime(2017, 1, 1, 0, 0), 'I love Chess', None),
 ('PICKLEPICKLEPICKLE', 'pbkdf2:sha256:260000$8QLpI0htlIEWohuQ$55a50ce1a38d45f282f50b7612e672c24d038e7d865a6f675a2d4f5a68ea0fe2', datetime.date(2009, 1, 13), 'pickle@gmail.com', datetime.datetime(2016, 1, 1, 0, 0), 4, None, datetime.datetime(2019, 1, 1, 0, 0), 'I love Chess', None),
 ('sarah_taylor', 'pbkdf2:sha256:260000$8QLpI0htlIEWohuQ$55a50ce1a38d45f282f50b7612e672c24d038e7d865a6f675a2d4f5a68ea0fe2', datetime.date(1989, 1, 25), 'sarahtaylor@example.com', datetime.datetime(2016, 1, 1, 0, 0), 5, datetime.datetime(2021, 1, 1, 0, 0), datetime.datetime(2021, 1, 10, 0, 0), 'I love to play blitz chess!', None),
 ('WisdomGuy', 'pbkdf2:sha256:260000$8QLpI0htlIEWohuQ$55a50ce1a38d45f282f50b7612e672c24d038e7d865a6f675a2d4f5a68ea0fe2', datetime.date(2009, 11, 13), 'wisdomguy@gmail.com', datetime.datetime(2016, 1, 1, 0, 0), 4, None, datetime.datetime(2022, 1, 1, 0, 0), 'I love Chess', None),
 ('zachary_song', 'pbkdf2:sha256:260000$8QLpI0htlIEWohuQ$55a50ce1a38d45f282f50b7612e672c24d038e7d865a6f675a2d4f5a68ea0fe2', datetime.date(2009, 3, 17), 'zachary_song@gmail.com', datetime.datetime(2016, 1, 1, 0, 0), None, None, None, 'I love Chess', None),
 ('zetaNegativeOne', 'pbkdf2:sha256:260000$8QLpI0htlIEWohuQ$55a50ce1a38d45f282f50b7612e672c24d038e7d865a6f675a2d4f5a68ea0fe2', datetime.date(2009, 9, 26), 'zetaneg1@gmail.com', datetime.datetime(2016, 1, 1, 0, 0), 2, None, datetime.datetime(2021, 1, 1, 0, 0), 'I love Chess', None)]

### Section F: Stored Program & Queries Script

#### Query 1

Find the rating range of the participants for each tournament. <br/>
(Rating is found by taking the latest rating in the history of each participant)

In [404]:
%%sql
SELECT Tournaments.tournament_name Name, min(rating), max(rating)
FROM (
        SELECT username, MAX(datetime) datetime 
        FROM Rating_history 
        GROUP BY username
    ) latest_date 
    NATURAL JOIN Rating_history AS Rating
    JOIN Participates ON Participates.player_name = Rating.username
    RIGHT JOIN Tournaments ON Participates.tournament_id = Tournaments.tournament_id
GROUP BY Tournaments.tournament_id, Tournaments.tournament_name;

 * mysql+pymysql://root:***@localhost/
20 rows affected.

[('Advanced Arena', None, None),
 ("Beginner's Cup", 1200, 1200),
 ('Blitz Championship', None, None),
 ('Chess Olympiad 2024', None, None),
 ('Chess Tournament 11', None, None),
 ('Fall Classic Tournament', None, None),
 ('Friendly match', None, None),
 ('Grand Prix 2023', None, None),
 ('Intermediate Invitational', None, None),
 ('International Blitz', None, None),
 ('International Open', None, None),
 ('King of the Hill', None, None),
 ("King's Cup", None, None),
 ("Queen's Gambit Cup", None, None),
 ('Rapid Open 2023', None, None),
 ('Spring Blitz Tournament', 1184, 1216),
 ('Summer Rapid Tournament', None, None),
 ('Team Cup', None, None),
 ('Winter Warm-Up Tournament', 1185, 1215),
 ('World Cup', None, None)]

#### Query 2

For each tournament, count the number of wins in the tournament the top player has so far.

In [405]:
%%sql
SELECT tournament_name, player_name, (
    SELECT COUNT(*) FROM Games 
    WHERE top.tournament_id = Games.tournament_id AND (player_name = white_name AND pgn LIKE "%1-0") OR (player_name = black_name AND pgn LIKE "%0-1")
) "Win Count"
FROM (
        SELECT Tournaments.tournament_id, tournament_name, player_name 
        FROM Tournaments LEFT JOIN Participates ON Tournaments.tournament_id = Participates.tournament_id 
        WHERE ranking = 1
    ) top

 * mysql+pymysql://root:***@localhost/
2 rows affected.

[('Winter Warm-Up Tournament', 'zachary_song', 1),
 ('Spring Blitz Tournament', 'Haloen', 1)]

#### Query 3

For each player, find the highest rating among all the opponents the player has beaten. <br/>
The rating used is the rating right before the game (ie the rating during the game). <br/>
In the case of a tie, use the latest game which they won.

In [406]:
%%sql
SELECT username, max(loser_rating) Best_Win
FROM (
        SELECT p1.username winner, p2.username loser,
        
        (SELECT rating FROM Rating_History hist WHERE hist.username = p2.username AND hist.datetime < Games.datetime ORDER BY datetime DESC LIMIT 1) loser_rating

        FROM Players p1, Players p2, Games 
        WHERE 
            (p1.username = white_name AND p2.username = black_name AND pgn LIKE "%1-0") OR 
            (p2.username = white_name AND p1.username = black_name AND pgn LIKE "%0-1")

    ) won_games RIGHT JOIN Players ON won_games.winner = Players.username
GROUP BY username
ORDER BY Best_Win DESC;

 * mysql+pymysql://root:***@localhost/
26 rows affected.

[('ethantan2509', 1216),
 ('Haloen', 1200),
 ('KH-Brawl', 1200),
 ('zachary_song', 1200),
 ('bob_johnson', None),
 ('coolingTundra', None),
 ('daniel_kim', None),
 ('DillyWeed', None),
 ('drewmtr', None),
 ('emily_williams', None),
 ('hnngggrrrr', None),
 ('jane_doe', None),
 ('jason_brown', None),
 ('jessica_brown', None),
 ('jim_smith', None),
 ('jsck413', None),
 ('julie_lee', None),
 ('LoverKent', None),
 ('maria_garcia', None),
 ('meower37', None),
 ('oxidyZe', None),
 ('Passwordcringe', None),
 ('PICKLEPICKLEPICKLE', None),
 ('sarah_taylor', None),
 ('WisdomGuy', None),
 ('zetaNegativeOne', None)]

### Section G: Web UI

<div class="alert alert-block alert-warning">
<b>Instructions:</b> <br>
    
For this deliverable you will write a web application that interacts with your database to manage your domain. This application must allow the user to extract specific information from the database, through a user-friendly interface. 
 
Additional marks will be given for good webpage design (in terms of navigation, organization and functionality), and aesthetically pleasing webpage.
 
Your web interface should allow you to demonstrate the CRUD operations:<br>
    
* <b> User Info Page:</b> <br>
    - Allow user to register for a new account
    - Allow registered user to login
    - Allow logged in users to view and edit Profile / Account information
    <br>Other notes:
    - Use sessions to ensure only logged in user may access relevant information of to their account. 
    - Relevant data validation should be done.
*  <b> Search & Browse page (i.e. Read function):</b> <br>
    Upon login, users can search and browse the data. 
Searching is likely the most typical action for a user. The user should be presented with a form to specify their search criteria, and based on the results of the underlying database query, will be presented either a list of matching records or a single matching record if only one was found.
<br>It is not necessary to allow user to search for all tables (and they shouldn't be allowed to!). Select a few tables where the search & browse function make sense. You are advised to implement the queries shortlisted in Section F where applicable.
 
*  <b>Pages to demo Create, Update & Delete functions: </b>
   <br> Users should be able to insert, edit and delete their entries! Recommended to just focus on 2 each.
    
Note that you will need to upload ALL source code for the Web UI for this section.
    
You do not need to screen capture every page, but it should demonstrate that you have done all CRUD functions. Note that Login, Register and Profile Edit is NOT sufficient to demonstrate CRUD as it has been guided in ISSL. You should demonstrate CRUD on other tables based on shortlisted purpose of your webfrontend.
</div>

Attached relevant image of your FINAL web interface below. 

<img src="relational.jpg">

### Section H: Project Reflection

<div class="alert alert-block alert-warning">
Write a 1 page reflection here. You may reflect on the following points: <br>
    
* What insights have you gained after completing this project? 
* How has completing the project affected your view of database systems?
* How do you think this project experience would be useful to you in future?
* How do you think you have managed your time for this project? Has the help provided in class been sufficient?
</div>

Double click here to insert your writeup

<hr>
 NUS High School of Math & Science